In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

In [24]:
df = pd.read_csv("indian_restaurants.csv")
df

,restaurant_name,rating,average_price,average _delivery_time,south_indian_or_not,north_indian_or_not,fast_food_or_not,street_food,biryani_or_not,bakery_or_not,location
0,# Momo,4.2,200,34,0,0,0,0,0,0,Durgapur
1,#99,4.1,100,31,0,0,0,0,0,0,Bareilly
2,#BBQ,3.6,200,57,0,0,1,0,0,0,Mangalore
3,#Dilliwaala6,3.7,100,38,0,1,0,1,0,0,Puducherry
4,#FlyFree,4.0,200,26,0,0,1,0,0,0,Ajmer
...,...,...,...,...,...,...,...,...,...,...,...
27651,Shri Chau Mau Fast Food,3.8,150,28,0,0,1,1,0,0,Nagpur
27652,Shri Chinese Center,2.8,150,37,0,0,0,0,0,0,Jabalpur
27653,Shri Dakshinam,3.9,100,31,1,0,0,0,0,0,Indore
27654,Shri Dashratna Veg Nonveg Restaurant,4.2,250,19,0,1,0,0,0,0,Amravati
27655,Shri Devraj Bhojnalaya,3.1,150,31,0,1,0,0,0,0,Bareilly

In [16]:
features = [
    'south_indian_or_not',
    'north_indian_or_not',
    'fast_food_or_not',
    'street_food',
    'biryani_or_not',
    'bakery_or_not',
    'average_price',
    'rating'
]

In [17]:
scaler = MinMaxScaler()
df_scaled = df.copy()
df_scaled[features] = scaler.fit_transform(df[features])

In [18]:
similarity_matrix = cosine_similarity(df_scaled[features])

In [19]:
df_scaled = df_scaled.reset_index()

In [20]:
def recommend_restaurants_by_name(restaurant_name, top_n=5):
    if restaurant_name not in df_scaled['restaurant_name'].values:
        return f"'{restaurant_name}' not found in dataset."
    
    idx = df_scaled[df_scaled['restaurant_name'] == restaurant_name].index[0]
    sim_scores = list(enumerate(similarity_matrix[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:top_n+1]
    top_indices = [i[0] for i in sim_scores]
    
    return df.loc[top_indices, ['restaurant_name', 'location', 'rating', 'average_price']]

In [25]:
results = recommend_restaurants_by_name("#BBQ", top_n=5)
print(results)

              restaurant_name    location  rating  average_price
84         28 Street Jam Cafe    Guwahati     3.6            200
852                   Al Baik      Kanpur     3.6            200
1691             Antarastriya   Bangalore     3.6            200
2181              Aura Bakers  Saharanpur     3.6            200
2391  Bachelor's Food Factory      Raipur     3.6            200